.header{
    border: 1px solid yellow;
    background-color: sandybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.ava{
    border: 1px solid purple;
    background-color: plum;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding-top: 5px;
    margin-right: 20px;
}
.headheader{
    display: flex;
    margin-left: 30px;
}
.textshop{
    font-size: 20px;
    padding-top: 5px;
}
.tailheader{
    display: flex;
}
.box{
    margin-right: 20px;
}
.cart{
    border: 1px solid blue;
    background-color: aqua;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
}





.footer{
    border: 1px solid yellow;
    padding-left: 30px;
    display: flex;
    justify-content: start;
    background-color: lightgoldenrodyellow;
}
.address{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.sdt{
    padding-top: 35px;
}

.info{
    width: 1100px;
    height: 200px;
    margin-left: 100px;
    display: flex;
}
.name{
    border: solid 1px gray;
    width: 50%;
    height: 100%;
    padding-left: 30px;
}
.payment{
    border: solid 1px gray;
    width: 50%;
    height: 100%;
    padding-left: 30px;
    margin-bottom: 20px;

}
.selectpmt{
   border: 1px solid black;
   width: 500px;
   height: 40px;
   display: flex;
   justify-content: start;
   align-items: center;
   margin-top: 7px;
}
.mycart{
    border: 1px solid black;
    width: 1100px;
    height: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.headheadcart{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.headcart{
    display: flex;
}
.tailheadcart{
    margin-left: 5px;
    margin-bottom: 5px;

}
.tailcart{
margin-top:10px ;
margin-right: 5px;
}



